<%- include('partials/header') %>
  <main>
      <h1><%= title %></h1>
      <h2>Service Categories</h2>
      <ul>Enviromental</ul>
      <ul>Educational</ul>
      <ul>Community Service</ul>
      <ul>Health and Wellness</ul>

      <img class="main-logo" src="images/health-wellness.png" alt="Health and Wellness Image">

  </main>
 <%- include('partials/footer') %> 